    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
      <div class="banner-content">
        <h1>Les armoires de Paris</h1>
        <p>Le vide dressing tendance chic</p>
        <form action="#" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="Robe, Veste...">
          <select name="" id="" class="form-control input-lg">
            <option value="1">Taille S</option>
            <option value="2">Taille M</option>
            <option value="3">Taille L</option>
          </select>
          <input type="submit" class="btn btn-primary btn-lg" value="Fouiller dans les armoires">
        </form>
      </div>
    </div>
