<i class="fa fa-heart-o fa-4x" aria-hidden="true"></i>
  <h4>Inscrivez-vous aux prochains évenements en tant que vendeuse:</h4>


    <div>
      <% @evenements.each do |evenement| %>
      <div class="col-xs-12">
          <%= render "event", evenement: evenement %>
      </div>
      <% end %>
    </div>

  <h4>Nos évenements passés:</h4>

<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>95</div>
  </div>
  <img src="kudoz.jpg" alt="la Recyclerie" class="product-image hidden-xs">
  <div class='product-body'>
    <h3>La Recyclerie</h3>
    <p>Le 10 octobre 2017</p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><a href=""><i class="fa fa-heart"></i></a></li>
    <li><a href=""><i class="fa fa-share"></i></a></li>
  </ul>
</div>






<div id="map" style="width: 100%; height: 500px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

