<ol class="breadcrumb wrapper">
  <li><%= link_to "Accueil", root_path %></li>
  <li class="active">Nos vides dressing</li>
</ol>


<div class="container">
  <div class="row">
    <header class="col-sm-12 text-center">
      <div class="card card-inverse" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1478391679764-b2d8b3cd1e94?w=2850&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
        <div class="card-block">
        <h1 class="card-title">Rejoignez les armoires de Paris</h1>
        <p class="card-text">Venez découvrir nos stands ou inscrivez-vous aux prochains évenements en tant que vendeuse</p>
        </div>
      </div>
    </header>
  </div>





    <h4>Nos vides dressing à venir:</h4>
    <div>
      <% @evenements.each do |evenement| %>
      <div class="col-xs-12">
          <%= render "event", evenement: evenement %>
      </div>
      <% end %>
    </div>







<div id="map" style="width: 100%; height: 500px;"></div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

